.menu-container {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu-heading {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu-item {
    flex-basis: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-item:hover {
    transform: scale(1.05);
  }
  
  .item-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .item-price {
    font-weight: bold;
    margin-top: 10px;
    color: #e4576e;
  }
  
  .cart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-items li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .cart-items li:hover {
    transform: scale(1.02);
  }
  
  .cart-items li button {
    background-color: #e4576e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cart-items li button:hover {
    background-color: #b61919;
  }
  
  button {
    background-color: #e4576e;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #b61919;
  }
  .search-container {
    margin-bottom: 20px;
  }
  
  .search-bar {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .menu-categories {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .category-button {
    background-color: #e4576e;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .category-button:hover {
    background-color: #b61919;
  }
  